body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

* {
    box-sizing: border-box;
}

.board {
    margin: auto;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
}

.cell {
    width: 15px;
    height: 15px;
    border: 1px solid black;
}

.cell_dead {}
.cell_alive {
    background-color: red;
}

.options, .generations {
    width: 300px;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
}